<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lln.api.mapper.AvatarMapper">
    <resultMap id="BaseResultMap" type="com.lln.api.domain.Avatar">
        <!--@mbg.generated-->
        <!--@Table avatar-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="data" jdbcType="LONGVARCHAR" property="data"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `uid`, `data`,`type`
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.lln.api.domain.Avatar"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into avatar (`uid`, `data`, `type`)
        values (#{uid,jdbcType=VARCHAR}, #{data,jdbcType=LONGVARCHAR}, #{type,jdbcType=INTEGER})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.lln.api.domain.Avatar">
        <!--@mbg.generated-->
        update avatar
        set `uid`  = #{uid,jdbcType=VARCHAR},
            `data` = #{data,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByUidAndType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from avatar
        where uid = #{uid,jdbcType=VARCHAR}
          and type = #{type,jdbcType=INTEGER}
    </select>
</mapper>